body,
body.boxed-wrapper .page-wrapper,
.main-slider__shape-3,
.stricky-header.main-menu {
    background-color: #071613;
}

.main-slider-one__inner::before,
.cause-one__single-inner,
.thm-dot-style1.owl-theme .owl-dots .owl-dot span,
.about-one__experience-box,
.services-one__single,
.blog-one__content,
.services-one__single::before,
.approch-one__tabs-content-inner,
.testimonial-one__pattern::after,
.team-one__single-content,
.blog-one__single {
    background: #071613;
}

.cause-one__pattern::before,
.services-one,
.why-choose-one__content-text2,
.approch-one,
.funfact-one,
.testimonial-one::before,
.team-one,
.faq-one-accrodion .accrodion,
.blog-one,
.brand-one,
.brand-one__title h4 {
    background: var(--donatix-primary);
}

.main-menu__wrapper {
    border-bottom: 1px solid rgba(var(--donatix-white-rgb), .10);
}

.about-one__img .shape1 {
    opacity: 0.1;
}

.testimonial-one__content .sec-title {
    border-bottom: 1px solid rgba(var(--donatix-white-rgb), .20);
}

.cause-one .shape2 {
    opacity: 0.1;
}

.why-choose-one .shape1 {
    opacity: 0.05;
}

.cause-one__single-inner .shape1 {
    opacity: 0.05;
}

.cause-one__single-content .btn-box .thm-btn:hover,
.services-one__single h2 a,
.why-choose-one__content-text2-top-left-text p,
.why-choose-one__content-text2-bottom p,
.why-choose-one__content-text3-single-inner .text-box h3,
.funfact-one__single-inner h2,
.team-one__single-content .text-box h2 a,
.team-one__single-social-links a span::before,
.faq-one-accrodion .accrodion-title h4,
.faq-one-accrodion .accrodion-title h4::before,
.brand-one__title h4 {
    color: var(--donatix-white);
}

.brand-one__title::before {
    background: rgba(var(--donatix-white-rgb), .30);
}

.why-choose-one__content-text2-bottom {
    border-top: 1px solid rgba(var(--donatix-white-rgb), .10);
}

.about-one__img-content {
    background: rgba(var(--donatix-white-rgb), .40);
}

.team-one__pattern {
    opacity: 0.1;
}

.sec-title__title,
.about-one__single-tab-text2-single-inner .text-box h3,
.about-one__content-bottom .contact-info .content-box h4 a,
.cause-one__single-content h2 a,
.blog-one__single-content h2 a,
.blog-one__single-content .btn-box .thm-btn:hover {
    color: var(--donatix-white);
}

.about-one__tab .tabs-button-box .tab-btn-item {
    color: rgba(var(--donatix-white-rgb), .40);
}


.about-one__content-text p,
.about-one__single-tab-text1 .text-box p,
.about-one__tab .tabs-button-box .tab-btn-item h3,
.about-one__single-tab-text2-single-inner .text-box p,
.about-one__content-bottom .contact-info .content-box p,
.cause-one__rised-and-progress .title-box h4,
.cause-one__raised span,
.cause-one__goals span,
.services-one__single p,
.why-choose-one__content-text1 p,
.why-choose-one__content-text3-single-inner .text-box p,
.funfact-one__single-inner p,
.team-one__single-content .text-box p,
.faq-one-accrodion .accrodion-content p,
.blog-one__single-content .meta-info li p {
    color: rgba(var(--donatix-white-rgb), .80);
}

.about-one__single-tab-text2 {
    border: 1px dashed rgba(var(--donatix-white-rgb), .50);
}

.sliding-text-one__title.style2 {
    color: var(--donatix-white);
    -webkit-text-stroke: 2px rgba(var(--donatix-white-rgb), 1.0);
}

.services-one {
    padding: 120px 0 120px;
}

.cta-one::before {
    background: #071613;
}

.about-one__experience-box,
.services-one__single,
.blog-one__content {
    background-color: var(--donatix-black);
}

.team-one__single-social-links a {
    background: var(--donatix-primary);
}

.feature-one__single,
.why-choose-one__list li,
.video-one__contact-box,
.pricing-one__single {
    background-color: #002335;
    box-shadow: none;
}

.main-menu .main-menu__list>li>a,
.stricky-header .main-menu__list>li>a,
.main-menu .main-menu__list>li.dropdown>a:after {
    color: var(--donatix-white);
}

.main-menu .main-menu__list>li.current>a::after,
.main-menu .main-menu__list>li:hover>a::after,
.stricky-header .main-menu__list>li.current>a::after,
.stricky-header .main-menu__list>li:hover>a::after {
    color: var(--donatix-base);
}

.services-one__single,
.why-choose-one__pattern::before {
    background: #071613;
}

.services-one__single .shape1 {
    opacity: 0.03;
}

.thm-btn::before,
.thm-btn::after {
    background-color: var(--donatix-white);
}

.thm-btn:hover {
    color: var(--donatix-primary);
}

.main-menu .mobile-nav__toggler:hover {
    color: var(--donatix-white);
}

.about-one__single-tab-text2 ul li::before,
.why-choose-one__content-text3 ul li::before {
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.99) 50%, rgba(255, 255, 255, 0) 93%);
}

.why-choose-one__img2::before {
    opacity: 0.6;
}

.funfact-one__box li::before {
    background: rgba(var(--donatix-white-rgb), .20);
}

.faq-one-accrodion .accrodion {
    border: 1px solid rgba(var(--donatix-white-rgb), .15);
}

.faq-one-accrodion .accrodion-content {
    border-top: 1px solid rgba(var(--donatix-white-rgb), .2);
}

.faq-one__img2 {
    border: 5px solid rgba(var(--donatix-white-rgb), .70);
}

.brand-one .shape1 {
    opacity: 0.1;
}

.site-footer--one.site-footer::after {
    background: var(--donatix-primary);
}










/* End */