/***
=============================================
Brand One
=============================================
***/
.brand-one {
    position: relative;
    display: block;
    padding: 0px 0px 120px;
    z-index: 2;
}

.brand-one .shape1 {
    position: absolute;
    top: 60px;
    right: 0px;
    z-index: -1;
}

.brand-one__title {
    position: relative;
    display: block;
    text-align: center;
    margin-top: -7px;
    margin-bottom: 52px;
    z-index: 1;
}

.brand-one__title::before {
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    transform: translateY(-50%);
    height: 0.25px;
    background: #D8DDE1;
    content: "";
}

.brand-one__title h4 {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    text-transform: capitalize;
    background: var(--donatix-white);
    padding: 0px 17px 0px;
}

.brand-one__title h4 span {
    color: var(--donatix-base);
}

.brand-one__inner {
    position: relative;
    display: block;
}

.brand-one__single {
    position: relative;
    display: block;
}

.brand-one__single-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.brand-one__single-inner a {
    position: relative;
    display: block;
    z-index: 5;
}

.brand-one__single-inner a img:first-child {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    -webkit-transform: translateY(50%) scaleY(2);
    transform: translateY(50%) scaleY(2);
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.brand-one__single:hover .brand-one__single-inner a img:first-child {
    -webkit-transform: translateY(0) scaleY(1);
    transform: translateY(0) scaleY(1);
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
}

.brand-one__single:hover .brand-one__single-inner a img:nth-child(2) {
    -webkit-transform: translateY(-50%) scaleY(2);
    transform: translateY(-50%) scaleY(2);
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.brand-one__single-inner a img {
    position: relative;
    display: block;
    width: 100%;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    cursor: pointer;
}

.brand-one__carousel.owl-carousel .owl-item img {
    width: 100%;
    cursor: pointer;
}