/*==============================================
   Funfact One
===============================================*/
.funfact-one {
    position: relative;
    display: block;
    padding: 0px 0px 112px;
    z-index: 1;
}

.funfact-one .shape1 {
    position: absolute;
    bottom: -95px;
    right: -30px;
    z-index: -1;
}

.funfact-one__inner {
    position: relative;
    display: block;
}

.funfact-one__box {
    position: relative;
}

.funfact-one__box li::before {
    position: absolute;
    top: 11px;
    right: 0;
    bottom: 8px;
    width: 2px;
    background: #D8DDE1;
    content: "";
}

.funfact-one__box li:last-child:before {
    display: none;
}

.funfact-one__box li:nth-child(1):before {
    right: 35px;
}

.funfact-one__box li:nth-child(2):before {
    right: -47px;
}

.funfact-one__box li:nth-child(3):before {
    right: -82px;
}

.funfact-one__box li:nth-child(2) {
    padding-left: 90px;
}

.funfact-one__box li:nth-child(3) {
    padding-left: 170px;
}

.funfact-one__box li:nth-child(4) {
    padding-left: 208px;
}

.funfact-one__single {
    position: relative;
    display: block;
}

.funfact-one__single-inner {
    position: relative;
    display: block;
}

.funfact-one__single-inner h2 {
    color: var(--donatix-secondary);
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    margin-bottom: 3px;
}

.funfact-one__single.clr2 .funfact-one__single-inner h2 {
    color: var(--donatix-base);
}

.funfact-one__single-inner h2 .plus {
    position: relative;
    display: inline-block;
    font-size: 23px;
    font-weight: 400;
    top: -3px;
}

.funfact-one__single-inner h2 .plus.ml {
    margin-left: 3px;
}

.funfact-one__single-inner h2 .odometer.odometer-auto-theme,
.funfact-one__single-inner h2 .odometer.odometer-theme-default {
    font-family: var(--donatix-font-two);
    line-height: 40px;
}

.funfact-one__single-inner p {
    font-weight: 600;
    font-family: var(--donatix-font-two);
}

/*==============================================
   Funfact Two
===============================================*/
.funfact-one--two {
    position: relative;
    display: block;
}

.funfact-one--two .shape2 {
    position: absolute;
    right: 40px;
    bottom: 150px;
}

/*==============================================
   Funfact Three
===============================================*/
.funfact-one--three {
    position: relative;
    display: block;
    background: #f6f6f6;
    padding: 50px 0px 52px;
}