/***
=============================================
Error Page
=============================================
***/
.error-page {
    position: relative;
    display: block;
    background: var(--donatix-white);
    padding: 120px 0px 120px;
    z-index: 1;
}

.error-page__inner {
    position: relative;
    display: block;
}

.error-page__img {
    position: relative;
    display: block;
}

.error-page__img img {
    width: auto;
}

.error-page__content {
    position: relative;
    display: block;
    margin-top: 53px;
}

.error-page__content h2 {
    color: var(--donatix-black);
    font-size: 48px;
    line-height: 58px;
    font-weight: 800;
    margin-bottom: 14px;
}

.error-page__content .btn-box {
    position: relative;
    display: block;
    line-height: 0px;
    margin-top: 47px;
}