/*==============================================
   Event One
===============================================*/
.event-one {
   position: relative;
   display: block;
   background: var(--donatix-gray-bg);
   padding: 120px 0px 90px;
   z-index: 1;
}

.event-one__pattern {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background-attachment: scroll;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   z-index: -1;
}

.event-one__top {
   position: relative;
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   padding-bottom: 47px;
}

.event-one__top .sec-title {
   padding-bottom: 0px;
}

.event-one__top .btn-box {
   position: relative;
   display: block;
   top: -13px;
}

.event-one__single {
   position: relative;
   display: block;
   background: var(--donatix-white);
   border-radius: 30px;
   padding: 30px 30px 30px;
   margin-bottom: 30px;
}

.event-one__single-inner {
   position: relative;
   display: flex;
   align-items: center;
}

.event-one__single-img {
   position: relative;
   display: block;
   border-radius: 15px;
   overflow: hidden;
   z-index: 1;
}

.event-one__single-img::before {
   background: rgba(255, 255, 255, 0.4);
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 0;
   opacity: 1;
   z-index: 1;
   pointer-events: none;
}

.event-one__single:hover .event-one__single-img::before {
   height: 100%;
   opacity: 0;
   -webkit-transition: all 400ms linear;
   transition: all 400ms linear;
}

.event-one__single-img img {
   width: 100%;
   transition: .5s ease;
   transform: scale(1.05);
}

.event-one__single:hover .event-one__single-img img {
   transform: scale(1);
}

.event-one__single-content {
   position: relative;
   display: block;
   margin-left: 29px;
   flex: 1;
}

.event-one__single-content h3 {
   font-size: 22px;
   line-height: 32px;
   font-weight: 700;
   margin-bottom: 15px;
}

.event-one__single-content h3 a {
   color: var(--donatix-black);
}

.event-one__single-content h3 a:hover {
   color: var(--donatix-base);
}

.event-one__single-content .meta-info {
   position: relative;
   display: flex;
   align-items: center;
   margin-bottom: 14px;
}

.event-one__single-content .meta-info li {
   position: relative;
   display: block;
}

.event-one__single-content .meta-info li+li {
   margin-left: 20px;
}

.event-one__single-content .meta-info li p {
   margin: 0;
}

.event-one__single-content .meta-info li p span::before {
   position: relative;
   display: inline-block;
   color: var(--donatix-base);
   font-size: 15px;
   line-height: 15px;
   margin-right: 4px;
}

.event-one__single-content p {
   margin: 0;
}

.event-one__single-content-bottom {
   position: relative;
   display: flex;
   align-items: center;
   border-top: 1px solid #d8dde1;
   margin-top: 24px;
   padding-top: 31px;
}

.event-one__single-content-bottom .btn-box {
   position: relative;
   display: block;
}

.event-one__single-content-bottom .btn-box a {
   position: relative;
   display: inline-block;
   color: var(--donatix-secondary);
   font-size: 16px;
   line-height: 16px;
   font-weight: 700;
   text-transform: capitalize;
   -webkit-transition: all 500ms ease;
   transition: all 500ms ease;
}

.event-one__single-content-bottom .btn-box a:hover {
   color: var(--donatix-base);
}

.event-one__single-content-bottom .btn-box a::before {
   position: absolute;
   left: 0;
   bottom: 0;
   right: 2px;
   height: 1px;
   background: var(--donatix-secondary);
   -webkit-transition: all 500ms ease;
   transition: all 500ms ease;
   content: "";
}

.event-one__single-content-bottom .btn-box a:hover::before {
   background: var(--donatix-base);
}

.event-one__single-content-bottom .btn-box a span::before {
   position: relative;
   display: inline-block;
   font-size: 13px;
   line-height: 13px;
   font-weight: 700;
   top: 1px;
}

.event-one__single-content-bottom .author-box {
   position: relative;
   display: flex;
   align-items: center;
   margin-left: 20px;
   padding-left: 20px;
}

.event-one__single-content-bottom .author-box::before {
   position: absolute;
   top: -3px;
   left: 0;
   bottom: -4px;
   width: 1px;
   background: #1F1F1F;
   background: linear-gradient(180deg, rgba(31, 31, 31, 0) 5%, rgba(31, 31, 31, 0.99) 50%, rgba(31, 31, 31, 0) 93%);
   content: "";
}

.event-one__single-content-bottom .author-box .img-box {
   position: relative;
   display: block;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   overflow: hidden;
}

.event-one__single-content-bottom .author-box .img-box img {
   width: 100%;
}

.event-one__single-content-bottom .author-box .text-box {
   position: relative;
   display: block;
   margin-left: 15px;
   flex: 1;
}

.event-one__single-content-bottom .author-box .text-box h4 {
   font-size: 16px;
   line-height: 26px;
   font-weight: 600;
   text-transform: capitalize;
   margin-bottom: 5px;
}

.event-one__single-content-bottom .author-box .text-box p {
   font-size: 15px;
   line-height: 15px;
}

/*==============================================
   Event Two
===============================================*/
.event-two {
   position: relative;
   display: block;
   background: var(--donatix-white);
   padding: 120px 0px 88px;
   z-index: 1;
}

.event-two .shape1 {
   position: absolute;
   bottom: 0px;
   right: 0px;
   z-index: -1;
}

.event-two__top {
   position: relative;
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   border-bottom: 1px solid var(--donatix-black);
   padding-bottom: 47px;
   margin-bottom: 52px;
}

.event-two__top .sec-title {
   padding-bottom: 0px;
}

.event-two__top .btn-box {
   position: relative;
   display: block;
   top: -13px;
}

.event-two__single {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid #d8dde1;
   padding-bottom: 37px;
   margin-bottom: 32px;
}

.event-two__single-date {
   position: relative;
   display: flex;
   align-items: center;
}

.event-two__single-date h2 {
   position: relative;
   font-size: 74px;
   line-height: 84px;
   font-weight: 800;
   margin-right: 37px;
}

.event-two__single-date p {
   font-size: 24px;
   line-height: 34px;
   font-weight: 700;
   text-transform: capitalize;
}

.event-two__single-content {
   position: relative;
   display: block;
}

.event-two__single-content h2 {
   font-size: 30px;
   line-height: 40px;
   font-weight: 700;
   margin-bottom: 13px;
}

.event-two__single-content h2 a {
   color: var(--donatix-black);
}

.event-two__single-content h2 a:hover {
   color: var(--donatix-base);
}

.event-two__single-content .meta-info {
   position: relative;
   display: flex;
   align-items: center;
   line-height: 0;
}

.event-two__single-content .meta-info li {
   position: relative;
   display: block;
}

.event-two__single-content .meta-info li+li {
   margin-left: 25px;
}

.event-two__single-content .meta-info li p {
   margin: 0;
}

.event-two__single-content .meta-info li p span::before {
   position: relative;
   display: inline-block;
   color: var(--donatix-base);
   font-size: 15px;
   line-height: 15px;
   margin-right: 4px;
}

.event-two__single-content-img {
   position: relative;
   display: flex;
   align-items: center;
   margin-top: 22px;
}

.event-two__single-content-img li {
   position: relative;
   display: block;
}

.event-two__single-content-img li+li {
   margin-left: -15px;
}

.event-two__single-content-img li .img-box {
   position: relative;
   display: block;
   width: 45px;
   height: 45px;
   border-radius: 50%;
   border: 3px solid var(--donatix-white);
   overflow: hidden;
}

.event-two__single-content-img li .img-box img {
   width: 100%;
}

.event-two__single-content-img li .text-box {
   position: relative;
   display: flex;
   align-items: center;
}

.event-two__single-content-img li .text-box .shape {
   position: relative;
   display: block;
   width: 45px;
   height: 45px;
   background: var(--donatix-base);
   border-radius: 50%;
   border: 3px solid var(--donatix-white);
}

.event-two__single-content-img li .text-box .text {
   position: relative;
   display: block;
   margin-left: -33px;
}

.event-two__single-content-img li .text-box .text p {
   color: var(--donatix-black);
   font-weight: 600;
   font-family: var(--donatix-font-two);
}

.event-two__single-content-img li .text-box .text p span {
   color: var(--donatix-white);
}

.event-two__single-btn {
   position: relative;
   display: block;
}

.event-two__single-btn .thm-btn {
   padding: 16px 30px 16px;
   background: var(--donatix-secondary);
}

.event-two__single-btn .thm-btn::before {
   background: var(--donatix-base);
}

.event-two__single-btn .thm-btn::after {
   background: var(--donatix-base);
}

/*==============================================
   Event One Grid
===============================================*/
.event-one--event-grid {
   position: relative;
   display: block;
   background: var(--donatix-white);
}

.event-one--event-grid .event-one__single {
   box-shadow: 0px 4px 40px rgb(0, 0, 0, 0.08);
}

/*==============================================
  Event Details
===============================================*/
.event-details {
   position: relative;
   display: block;
   background: var(--donatix-white);
   padding: 120px 0px 90px;
   z-index: 1;
}

.event-details__content {
   position: relative;
   display: block;
   margin-right: 10px;
   z-index: 1;
}

.event-details__content-img1 {
   position: relative;
   display: block;
   border-radius: 30px;
   overflow: hidden;
}

.event-details__content-img1 img {
   width: 100%;
}

.event-details__content-img1 .text-box {
   position: absolute;
   top: 40px;
   right: 40px;
   background: var(--donatix-base);
   color: var(--donatix-white);
   font-size: 16px;
   line-height: 26px;
   font-weight: 700;
   padding: 3px 15px 2px;
   border-radius: 15px;
   font-family: var(--donatix-font-two);
   z-index: 2;
}

.event-details__content-text1 {
   position: relative;
   display: block;
   margin-top: 26px;
}

.event-details__content-text1 .meta-info {
   position: relative;
   display: flex;
   align-items: center;
   line-height: 0;
}

.event-details__content-text1 .meta-info li {
   position: relative;
   display: block;
}

.event-details__content-text1 .meta-info li+li {
   margin-left: 25px;
}

.event-details__content-text1 .meta-info li p {
   color: var(--donatix-black);
   margin: 0;
}

.event-details__content-text1 .meta-info li p span::before {
   position: relative;
   display: inline-block;
   color: var(--donatix-base);
   font-size: 15px;
   line-height: 15px;
   margin-right: 4px;
}

.event-details__content-text1 h2 {
   font-size: 36px;
   line-height: 46px;
   font-weight: 700;
   margin-top: 21px;
   margin-bottom: 21px;
}

.event-details__content-text1 .text1 {
   margin: 0;
   margin-bottom: 26px;
}

.event-details__content-text1 .text2 {
   margin: 0;
}

.event-details__content-img2 {
   position: relative;
   display: block;
   margin-top: 52px;
}

.event-details__content-img2-single {
   position: relative;
   display: block;
   margin-bottom: 30px;
   border-radius: 30px;
   overflow: hidden;
}

.event-details__content-img2-single img {
   width: 100%;
}

.event-details__content-text2 {
   position: relative;
   display: block;
   margin-top: 3px;
}

.event-details__content-text2 p {
   margin: 0;
}

.event-details__content-text2-list {
   position: relative;
   display: block;
   margin-top: 25px;
}

.event-details__content-text2-list li {
   position: relative;
   display: block;
}

.event-details__content-text2-list li+li {
   margin-top: 10px;
}

.event-details__content-text2-list li p {
   position: relative;
   padding-left: 25px;
   margin: 0;
}

.event-details__content-text2-list li p::before {
   position: absolute;
   top: 7px;
   left: 0;
   width: 11px;
   height: 11px;
   background: var(--donatix-base);
   border-radius: 50%;
   content: "";
}

.event-details__content-text2-contact-box {
   position: relative;
   display: flex;
   align-items: center;
   border-top: 1px solid #dbdfde;
   border-bottom: 1px solid #dbdfde;
   margin-top: 32px;
   padding: 30px 0px;
}

.event-details__content-text2-contact-box .btn-box {
   position: relative;
   display: block;
}

.event-details__content-text2-contact-box .contact-info {
   position: relative;
   display: flex;
   align-items: center;
   margin-left: 30px;
   flex: 1;
}

.event-details__content-text2-contact-box .contact-info .icon-box {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 56px;
   height: 56px;
   background: var(--donatix-secondary);
   border-radius: 20px;
   overflow: hidden;
}

.event-details__content-text2-contact-box .contact-info .icon-box span::before {
   position: relative;
   display: inline-block;
   color: var(--donatix-white);
   font-size: 24px;
   line-height: 24px;
}

.event-details__content-text2-contact-box .content-box {
   position: relative;
   display: block;
   margin-left: 15px;
   flex: 1;
}

.event-details__content-text2-contact-box .content-box p {
   margin: 0;
}

.event-details__content-text2-contact-box .content-box h3 {
   font-size: 20px;
   line-height: 30px;
   font-weight: 700;
}

.event-details__content-text2-contact-box .content-box h3 a {
   color: var(--donatix-black);
}

.event-details__content-text2-contact-box .content-box h3 a:hover {
   color: var(--donatix-base);
}

.event-details__event-speaker {
   position: relative;
   display: block;
   margin-top: 51px;
}

.event-details__event-speaker .title-box {
   position: relative;
   display: block;
   margin-bottom: 28px;
}

.event-details__event-speaker .title-box h2 {
   font-size: 36px;
   line-height: 46px;
   font-weight: 700;
}

.event-details__event-speaker-single {
   position: relative;
   display: flex;
   align-items: center;
   border: 1px solid #d8dde1;
   padding: 20px 30px 20px 20px;
   border-radius: 30px;
   margin-bottom: 30px;
}

.event-details__event-speaker-single-img {
   position: relative;
   display: block;
   width: 170px;
   height: 170px;
   border-radius: 50%;
   overflow: hidden;
}

.event-details__event-speaker-single-img img {
   width: 100%;
}

.event-details__event-speaker-single-content {
   position: relative;
   display: block;
   margin-left: 30px;
   flex: 1;
}

.event-details__event-speaker-single-content-top {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid #dbdfde;
   padding-bottom: 12px;
   margin-bottom: 13px;
}

.event-details__event-speaker-single-content-top .text-box {
   position: relative;
   display: block;
}

.event-details__event-speaker-single-content-top .text-box h2 {
   font-size: 24px;
   line-height: 34px;
   font-weight: 700;
   text-transform: capitalize;
}

.event-details__event-speaker-single-content-top .text-box p {
   margin: 0;
}

.event-details__event-speaker-single-content-top .social-links {
   position: relative;
   display: flex;
   align-items: center;
}

.event-details__event-speaker-single-content-top .social-links a {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--donatix-secondary);
   width: 40px;
   height: 40px;
   background: var(--donatix-white);
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
   border-radius: 50%;
}

.event-details__event-speaker-single-content-top .social-links a:hover {
   color: var(--donatix-white);
   background: var(--donatix-base);
}

.event-details__event-speaker-single-content-top .social-links a+a {
   margin-left: 15px;
}

.event-details__event-speaker-single-content-top .social-links a span::before {
   position: relative;
   display: inline-block;
   font-size: 13px;
   line-height: 13px;
}

.event-details__event-speaker-single-content-bottom {
   position: relative;
   display: block;
}

.event-details__event-speaker-single-content-bottom p {
   margin: 0;
}