/*==============================================
    Faq One
===============================================*/
.faq-one {
    position: relative;
    display: block;
    padding: 120px 0 120px;
    z-index: 1;
}

.faq-one .shape2 {
    position: absolute;
    right: 0;
    bottom: 45px;
    z-index: -1;
}

.faq-one .row {
    align-items: flex-end;
}

.faq-one__content {
    position: relative;
    display: block;
    margin-right: -15px;
    z-index: 1;
}

.faq-one__content .sec-title {
    padding-bottom: 27px;
}

.faq-one__content-faq {
    position: relative;
    display: block;
}

.faq-one-accrodion {
    position: relative;
    display: block;
}

.faq-one-accrodion .accrodion {
    position: relative;
    display: block;
    background: var(--donatix-white);
    border: 1px solid #D8DDE1;
    border-radius: 30px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    padding: 0px 30px 0px;
}

.faq-one-accrodion .accrodion.active {
    padding-bottom: 22px;
    box-shadow: 0px 10px 30px rgb(0, 0, 0, 0.05);
}

.faq-one__content-faq .faq-one-accrodion .accrodion+.accrodion {
    margin-top: 30px;
}

.faq-one-accrodion .accrodion-title {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 23px 0px 21px;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.faq-one-accrodion .accrodion-title h4 {
    position: relative;
    color: var(--donatix-black);
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    margin: 0;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.faq-one-accrodion .accrodion-title h4::before {
    position: absolute;
    color: var(--donatix-secondary);
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    text-align: center;
    content: "\e916";
    font-family: 'icomoon' !important;
}

.faq-one-accrodion .accrodion.active .accrodion-title h4::before {
    content: "\e915";
}

.faq-one-accrodion .accrodion-content {
    position: relative;
    display: block;
    border-top: 1px solid #D8DDE1;
    padding: 23px 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.faq-one-accrodion .accrodion-content p {
    color: var(--donatix-gray);
    margin: 0;
}

.faq-one__img {
    position: relative;
    display: block;
    margin-left: 45px;
}

.faq-one__img1 {
    position: relative;
    display: block;
    border-radius: 30px;
    overflow: hidden;
    float: right;
}

.faq-one__img1::before {
    background: rgba(255, 255, 255, 0.3);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    opacity: 1;
    z-index: 1;
    pointer-events: none;
}

.faq-one__img1:hover:before {
    height: 100%;
    opacity: 0;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.faq-one__img1 .shape1 {
    position: absolute;
    top: 0;
    left: 0;
}

.faq-one__img1 img {
    width: 100%;
    transition: .5s ease;
    transform: scale(1.05);
}

.faq-one__img1:hover img {
    transform: scale(1);
}

.faq-one__img2 {
    position: absolute;
    left: -5px;
    bottom: 55px;
    overflow: hidden;
    border: 5px solid var(--donatix-white);
    border-radius: 30px;
    z-index: 5;
}

.faq-one__img2::before {
    background: rgba(255, 255, 255, 0.3);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    opacity: 1;
    z-index: 1;
    pointer-events: none;
}

.faq-one__img2:hover:before {
    height: 100%;
    opacity: 0;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.faq-one__img2 img {
    width: 100%;
    transition: .5s ease;
    transform: scale(1.05);
}

.faq-one__img2:hover img {
    transform: scale(1);
}

/*==============================================
    Faq Page
===============================================*/
.faq-page {
    position: relative;
    display: block;
    background: var(--donatix-white);
    padding: 120px 0px 120px;
    z-index: 1;
}

.faq-page__content {
    position: relative;
    display: block;
    margin-right: 50px;
}

.faq-page__content .sec-title {
    padding-bottom: 20px;
}

.faq-page__content__text {
    position: relative;
    display: block;
}

.faq-page__content__text p {
    margin: 0;
}

.faq-page__content__text2 {
    position: relative;
    display: block;
    background: var(--donatix-gray-bg);
    border: 1px solid #d8dde1;
    border-radius: 30px;
    padding: 30px 30px 60px;
    margin-top: 32px;
}

.faq-page__content__text2-top {
    position: relative;
    display: flex;
    align-items: center;
}

.faq-page__content__text2-top .icon-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    border: 1px solid #d8dde1;
}

.faq-page__content__text2-top .icon-box .inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: var(--donatix-base);
    border-radius: 50%;
}

.faq-page__content__text2-top .icon-box .inner span::before {
    position: relative;
    display: inline-block;
    color: var(--donatix-white);
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
}

.faq-page__content__text2-top .content-box {
    position: relative;
    display: block;
    margin-left: 30px;
    flex: 1;
}

.faq-page__content__text2-top .content-box h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    text-transform: capitalize;
}

.faq-page__content__text2-top .content-box p {
    margin: 0;
}

.faq-page__content__text2-btn {
    position: relative;
    display: block;
    margin-top: 30px;
}

.faq-page__content__text2-btn .thm-btn {
    width: 100%;
    justify-content: center;
}

.faq-page-faq {
    position: relative;
    display: block;
    margin-left: -25px;
}