/*==============================================
  Help People One
===============================================*/
.help-people-one {
   position: relative;
   display: block;
   padding: 120px 0px 120px;
   z-index: 1;
}

.help-people-one .shape1 {
   position: absolute;
   bottom: 0px;
   right: 0px;
   z-index: 1;
}

.help-people-one::before {
   position: absolute;
   top: 0px;
   bottom: 0px;
   right: 0px;
   background: var(--donatix-primary);
   border-top-left-radius: 500px;
   border-bottom-left-radius: 500px;
   width: calc((100% - -276px) / 2);
   background-position: top center;
   background-repeat: no-repeat;
   background-size: cover;
   content: "";
   z-index: -1;
}

.help-people-one__img1 {
   position: absolute;
   top: 0px;
   bottom: 0px;
   left: 0px;
   background: #000000;
   background-blend-mode: luminosity;
   border-top-right-radius: 500px;
   border-bottom-right-radius: 500px;
   width: calc((100% - -62px) / 2);
   background-position: top right;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 1;
}

.help-people-one__inner {
   position: relative;
   display: block;
}

.help-people-one__content {
   position: relative;
   display: block;
   max-width: 560px;
   width: 100%;
   float: right;
}

.help-people-one__content .sec-title {
   padding-bottom: 20px;
}

.help-people-one__content .sec-title__title {
   color: var(--donatix-white);
}

.help-people-one__content-text1 {
   position: relative;
   display: block;
   margin-bottom: 32px;
}

.help-people-one__content-text1 p {
   color: var(--donatix-white);
   margin: 0;
}

.help-people-one__content-text2 {
   position: relative;
   display: flex;
   align-items: center;
   background: var(--donatix-white);
   border-radius: 30px;
   padding: 30px 30px 30px;
   z-index: 1;
}

.help-people-one__content-text2 .img-box {
   position: relative;
   display: block;
   border-radius: 15px;
   overflow: hidden;
}

.help-people-one__content-text2 .img-box img {
   width: 100%;
}

.help-people-one__content-text2 .content-box {
   position: relative;
   display: block;
   margin-left: 30px;
   margin-top: -6px;
   flex: 1;
}

.help-people-one__content-text2 .content-box h3 {
   font-size: 22px;
   line-height: 32px;
   font-weight: 700;
   margin-bottom: 4px;
}

.help-people-one__content-text2 .content-box p {
   margin: 0;
}

.help-people-one__progress {
   position: relative;
   display: block;
   margin-top: 20px;
   margin-bottom: 2px;
}

.help-people-one__progress .bar {
   position: relative;
   width: 100%;
   height: 6px;
   background-color: #eae2cd;
   border-radius: 10px;
}

.help-people-one__progress .bar-inner {
   position: relative;
   display: block;
   width: 0px;
   height: 6px;
   border-radius: 10px;
   background-color: var(--donatix-base);
   -webkit-transition: all 1500ms ease;
   -ms-transition: all 1500ms ease;
   -o-transition: all 1500ms ease;
   -moz-transition: all 1500ms ease;
   transition: all 1500ms ease;
}

.help-people-one__progress .count-text {
   position: absolute;
   right: -15px;
   top: -28px;
   color: var(--donatix-white);
   font-size: 14px;
   line-height: 19px;
   font-weight: 600;
   background: var(--donatix-secondary);
   padding: 1px 5px 0px;
   border-radius: 30px;
   font-family: var(--donatix-font-two);
   z-index: 1;
}

.help-people-one__progress .count-text::before {
   content: "";
   position: absolute;
   left: 0px;
   right: 0px;
   bottom: -8px;
   width: 8px;
   margin: 0 auto;
   border-right: 5px solid transparent;
   border-left: 5px solid transparent;
   border-top: 8px solid var(--donatix-secondary);
   z-index: -1;
}

.help-people-one__rised-and-goals {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.help-people-one__raised {
   position: relative;
   display: block;
}

.help-people-one__raised span {
   color: var(--donatix-black);
   font-size: 14px;
   line-height: 24px;
   font-weight: 600;
   font-family: var(--donatix-font-two);
}

.help-people-one__goals {
   position: relative;
   display: block;
}

.help-people-one__goals span {
   color: var(--donatix-base);
   font-size: 14px;
   line-height: 24px;
   font-weight: 600;
   font-family: var(--donatix-font-two);
}

.help-people-one__content-text2 .content-box .btn-box {
   position: relative;
   display: block;
   margin-top: 21px;
}

.help-people-one__content-text2 .content-box .btn-box .thm-btn {
   font-size: 17px;
   line-height: 17px;
   padding: 14px 35px 14px;
}

.help-people-one__video {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 2;
}

.help-people-one__video-icon {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100px;
   height: 100px;
   line-height: 100px;
   text-align: center;
   font-size: 20px;
   color: var(--donatix-base);
   background-color: var(--donatix-white);
   border-radius: 50%;
   margin: 0 auto;
   transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -webkit-transition: all 0.5s ease;
   -ms-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
}

.help-people-one__video-icon:hover {
   background-color: var(--donatix-base);
   color: var(--donatix-white);
}

.help-people-one__video .ripple,
.help-people-one__video-icon .ripple:before,
.help-people-one__video-icon .ripple:after {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 100px;
   height: 100px;
   transform: translate(-50%, -50%);
   -ms-box-shadow: 0 0 0 0 rgba(var(--donatix-base-rgb), 0.6);
   -o-box-shadow: 0 0 0 0 rgba(var(--donatix-base-rgb), 0.6);
   box-shadow: 0 0 0 0 rgba(var(--donatix-base-rgb), 0.6);
   -webkit-animation: ripple 3s infinite;
   animation: ripple 3s infinite;
   border-radius: 50%;
}

.help-people-one__video-icon .ripple:before {
   -webkit-animation-delay: 0.9s;
   animation-delay: 0.9s;
   content: "";
   position: absolute;
}

.help-people-one__video-icon .ripple:after {
   -webkit-animation-delay: 0.6s;
   animation-delay: 0.6s;
   content: "";
   position: absolute;
}

.help-people-one__img1-title {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   z-index: 1;
}

.help-people-one__img1-title h2 {
   color: rgba(var(--donatix-white-rgb), 0.25);
   font-size: 144px;
   line-height: 1em;
   font-weight: 900;
   text-transform: capitalize;
}