/***
=============================================
Page Header
=============================================
***/
.page-header {
    position: relative;
    display: block;
    padding: 170px 0px 172px;
    overflow: hidden;
    z-index: 1;
}

.page-header__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
}

.page-header__bg::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(var(--donatix-primary-rgb), 0.84);
    mix-blend-mode: multiply;
    content: "";
    z-index: -1;
}

.page-header .shape1 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.page-header .shape2 {
    position: absolute;
    top: 35px;
    right: 70px;
    animation: shake-l-r 4s linear 0s infinite;
    z-index: -1;
}

.page-header__inner {
    position: relative;
    display: block;
    text-align: center;
    overflow: hidden;
}

.page-header__inner h2 {
    color: var(--donatix-white);
    font-size: 64px;
    line-height: 1.1em;
    font-weight: 800;
    text-transform: capitalize;
}

.page-header__inner .thm-breadcrumb {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

.page-header__inner .thm-breadcrumb li {
    color: var(--donatix-white);
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    text-transform: capitalize;
    margin-left: 4px;
    margin-right: 3px;
}

.page-header__inner .thm-breadcrumb li:first-child {
    margin-left: 0px;
}

.page-header__inner .thm-breadcrumb li:last-child {
    margin-right: 0px;
}

.page-header__inner .thm-breadcrumb li a {
    color: var(--donatix-white);
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    text-transform: capitalize;
}

.page-header__inner .thm-breadcrumb li a:hover {
    color: var(--donatix-base);
}