/*==============================================
   Pricing One
===============================================*/
.pricing-one {
    position: relative;
    display: block;
    padding: 32px 0 90px;
    z-index: 1;
}

.pricing-one__single {
    position: relative;
    display: block;
    background-color: var(--donatix-white);
    box-shadow: 0px 10px 39.2px 0.8px rgba(0, 0, 0, 0.1);
    border-radius: var(--donatix-bdr-radius);
    border-top: 5px solid var(--donatix-base);
    margin-bottom: 30px;
    padding: 30px 40px 40px;
}

.pricing-one__title-box {
    position: relative;
    display: block;
    border-bottom: 1px solid rgba(var(--donatix-black-rgb), .10);
    padding-bottom: 22px;
}

.pricing-one__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 13px;
}

.pricing-one__price {
    font-size: 40px;
    font-weight: 700;
    color: var(--donatix-base);
    font-family: var(--donatix-font-two);
    letter-spacing: -0.72px;
}

.pricing-one__price span {
    font-size: 16px;
    font-family: var(--donatix-font);
    color: var(--donatix-gray);
}

.pricing-one__price-list {
    position: relative;
    display: block;
    margin: 30px 0 30px;
}

.pricing-one__price-list li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.pricing-one__price-list li+li {
    margin-top: 15px;
}

.pricing-one__price-list li .icon {
    position: relative;
    display: inline-block;
}

.pricing-one__price-list li .icon span {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: var(--donatix-base);
}

.pricing-one__btn-box {
    position: relative;
    display: block;
}

.pricing-one__btn-box .thm-btn {
    width: 100%;
    justify-content: center;
}

/*--------------------------------------------------------------
# Pricing Two
--------------------------------------------------------------*/
.pricing-two {
    position: relative;
    display: block;
    padding: 120px 0 70px;
    background-color: var(--donatix-primary);
    z-index: 1;
}

.pricing-two .section-title {
    margin-bottom: 100px;
}

.pricing-two__shape-2 {
    position: absolute;
    top: -295px;
    left: 0;
    opacity: 0.10;
    animation: leftRight 4s ease-in-out infinite;
    z-index: -1;
}

.pricing-two__shape-2 img {
    width: auto;
}

.pricing-two__img-1 {
    position: absolute;
    bottom: 20px;
    right: -189px;
    animation: topBottom 3s ease-in-out infinite;
    z-index: 1;
}

.pricing-two__img-1 img {
    width: auto;
    border-bottom-left-radius: 108px;
    border-top-left-radius: 100px;
}

.pricing-two__shape-1 {
    content: "";
    position: absolute;
    top: -50px;
    left: 150px;
    bottom: -30px;
    right: -329px;
    border-radius: 20px;
    border: 5px solid var(--donatix-base);
    z-index: -1;
}

.pricing-two__shape-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 6px solid rgba(var(--donatix-base-rgb), .40);
    border-radius: 15px;
}

.pricing-two__shape-1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 12px solid rgba(var(--donatix-base-rgb), .30);
    border-radius: 17px;
}

.pricing-two__left {
    position: relative;
    display: block;
}

.pricing-two__single {
    position: relative;
    display: block;
    background-color: var(--donatix-white);
    box-shadow: 0px 10px 39.2px 0.8px rgba(0, 0, 0, 0.1);
    border-radius: var(--donatix-bdr-radius);
    padding: 48px 25px 30px;
    margin-bottom: 50px;
}

.pricing-two__plan-box {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    display: inline-block;
    text-align: center;
}

.pricing-two__plan-box span {
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    color: var(--donatix-base);
    position: relative;
    display: inline-block;
    border-top: 4px solid var(--donatix-base);
    background-color: var(--donatix-white);
    padding: 5px 15px 5px;
    border-radius: 15px;
}

.pricing-two__price-box {
    position: relative;
    display: block;
    border-bottom: 1px solid rgba(var(--donatix-black-rgb), .10);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.pricing-two__price {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 7px;
}

.pricing-two__price-points {
    position: relative;
    display: block;
}

.pricing-two__price-points li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.pricing-two__price-points li+li {
    margin-top: 10px;
}

.pricing-two__price-points li .icon {
    position: relative;
    display: inline-block;
}

.pricing-two__price-points li .icon span {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: var(--donatix-base);
}

.pricing-two__btn-box {
    position: relative;
    display: block;
    margin-top: 33px;
}

.pricing-two__btn-box .thm-btn {
    width: 100%;
    justify-content: center;
}

/*--------------------------------------------------------------
# Pricing Page
--------------------------------------------------------------*/
.pricing-page {
    padding: 120px 0 90px;
}














/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/